:root {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
#root, #__next {
    isolation: isolate;
}

form {
    display: grid;
    gap: 1rem;
}

form label {
    display: block;
}

form label input,
form label select {
    margin-left: 10px;
}

form input.short,
form select.short {
    width: 100px;
}

input, 
select {
    padding: 0.1rem 0.5rem;
}

input.small,
select.small {
    width: 50px;
}

input.medium, 
select.medium {
    width: 100px;
}

input.right,
select.right {
    text-align:right;
}


form .right-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

form .validation-errors {
    color: darkred;
}

fieldset {
    border: none;
}